*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#root{
  min-height: 100vh;
  display: flex;
}
.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}

.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}

.main .nav img {
  width: 40px;
  border-radius: 50%;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

.main .greet {
  margin: 50px 0;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main .greet span {
  background-image: linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.main .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.main .card:hover {
  background-color: #dfe4ea;
}

.main .card img {
  width: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.response-box {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  color: #333;
  font-size: 16px;
}

.bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}
